body {
    /* background-image: url('/static/background.png'); */
    background-size: cover;
    background-repeat: no-repeat; /* prevents repeating the background image */
    font-family: Arial, sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
}




/* the actual chatbot part */
#chatbot {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    padding: 20px;
    border-top-left-radius: 20px; /* Add border radius to top left corner */
}

#chat-container {
    max-height: 20vh; /* Limit the maximum height of the chat container */
}

#user-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust margin as needed */
}

#user-input {
    flex: 1; /* Take remaining width */
    padding: 10px; /* Add padding to the input field */
    margin-right: 10px; /* Add some space between the input field and button */
    background-color: #0b346e;
    color: white;
    
}

.message {
    margin: 10px 0; /* Add margin to separate messages */
    padding: 15px; /* Add padding to messages */
    border-radius: 20px; /* Add border radius to messages */
    max-width: 80%; /* Limit maximum width of messages */
    color: white;
}

.user {
    align-self: flex-end; /* Align user messages to the right */
    color: white;
}

.bot {
    align-self: flex-start; /* Align bot messages to the left */
    color: white;
}

#chat-container {
    max-height: 20vh; /* Limit the maximum height of the chat container */
}

#user-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust margin as needed */
}

#user-input {
    flex: 1; /* Take remaining width */
    padding: 10px; /* Add padding to the input field */
    background-color: #0b346e;
    color: white;
    padding: 15px;
    
}

.message {
    margin: 10px 0; /* Add margin to separate messages */
    padding: 15px; /* Add padding to messages */
    border-radius: 20px; /* Add border radius to messages */
    max-width: 80%; /* Limit maximum width of messages */
    color: white;
}

.user {
    align-self: flex-end; /* Align user messages to the right */
    color: white;
}

.bot {
    align-self: flex-start; /* Align bot messages to the left */
    color: white;
}


#start-button {
    justify-content: center;
    align-items: center;
    padding: 15x;
}
