body {
    /* background-image: url('/static/background.png'); */
    background-size: cover;
    background-repeat: no-repeat; /* prevents repeating the background image */
    font-family: Arial, sans-serif;
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    height: 100vh;
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: black;
}

.title {
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}








/* the actual chatbot part */




#user-input-container {
    display: flex;
    align-items: center;
    margin-top: 10px; /* Adjust margin as needed */
}

#user-input {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    flex: 1; /* Take remaining width */
    background-color: #0b346e;
    color: white;
    padding: 15px;
    
}

.message {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 100%);
    border-radius: 20px; /* Add border radius to messages */
    max-width: 70%; /* Limit maximum width of messages */
    color: white;
}
