<!DOCTYPE html>
<html>
<head>
    <title>SpotiFinder</title>
    <link rel="stylesheet" type="text/css" href="/static/main_menu.css">
</head>

<body>

    <div class="container">
        <h1 class="title">SpotiFinder</h1>
        <h2 class="subtitle">Songs Selected to Your Taste.</h2>
        <p class="description">An AI-powered tool that generates playlists based on user input. Simply input your preferences, and SpotiFinder will curate a selection of songs tailored to your taste.</p>
        <a href="chatbot.html"><button id="start-button">Start</button></a>
    </div>

   

</body>
</html>