<!DOCTYPE html>
<html>
<head>
    <title>SpotiFinder</title>
    <link rel="stylesheet" type="text/css" href="/static/main_menu.css">
</head>

<body>

    <div class="container">
        <a href="https://www.spotify.com/"><img src="/static/spotify.png" alt="Spotify Button" class="spotify-button"></a>
        <a href="https://www.discord.com/"><img src="/static/discord.png" alt="Discord Button" class="discord-button"></a>
        <h1 class="title">SpotiFinder</h1>
        <h2 class="subtitle">Songs Selected to Your Taste.</h2>
        <p class="description">An AI-powered tool that generates playlists based on user input. Simply input your preferences, and SpotiFinder will curate a selection of songs tailored to your taste.</p>
        <a href="chatbot.html"><button class="start-button"></button></a>
    </div>

   

</body>
</html>